@import "../../../public/styles/shared";

footer {
  color: $gray-600;
  background-color: $gray-dark;
  font-size: 16px;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  p {
  padding: 1em;
  }

  a {
    color: $gray-200;
    &:hover {
      cursor: pointer;
      color: $gray-blue-light;
    }
  }
}
